#posicionamento {
  padding-top: 20%;
  padding-left: 0%;
  
}

#titulo {
  margin: auto;
}

ion-content {
  --background: linear-gradient(to right, #33ccff 0%, #ff99cc 100%);
}

ion-box {
  width: auto;
  height: 400px;
  text-align: center;
  padding: 10%;
  padding-top: 60%;
}